{% include 'AdministradorBundle:Default:administrador_header.html.twig' %}
{% include 'AdministradorBundle:Default:administrador_menu_vertical.html.twig' %}

  


            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-info-sign"></i> Introduction</h2>

               
            </div>
            <div class="box-content row">
               
              

            </div> <!--/fin caja de contenido-->
      

 


{% include 'AdministradorBundle:Default:administrador_footer.html.twig' %}

